/* styles.css */
.formPopup {
    /* border: 2px solid #dfdfdf; */
    margin-top: 80px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px -2px #458378;
    margin-bottom: 25px;
    background-image: linear-gradient(130deg, rgb(116, 155, 106), rgb(81, 137, 155));
    margin-right: 10px;
    max-width: 250px;  
}
.formButtons{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.buttonC{
    margin-left: auto;
    margin-right: auto;
}
.mapForm{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#formHeading,.tableHeading {
    text-align: center;
    margin-bottom: 14px;
    color: #000000;
}

.formPopup label {
    display: block;
    margin-bottom: 2px;
}

.formPopup input {
    width: 100%;
    padding: 5px;
    border-color: rgb(159, 168, 168);
    border-radius: 3px;
    margin-bottom: 8px;
    box-sizing: border-box;
}
#input_b {
    background-color: #373d37;
    color: white;
    border-color: rgb(146, 178, 180);
    border-radius: 6px;
    cursor: pointer;
}


.divMapContainer {
   
    height: 600px;
    width: 60vw;
}

.mapContainerMain {
    position: relative;
    height: inherit;
    width: inherit;
}

.mapContainerMain,
.custom-div-class-v {
    position: absolute;
    bottom: 0px;
    left: 0
}
.divMapContainer,.formdiv{
    display: flex;
    flex-direction: row;
}
.jsonButtton,.uploadButton{
    padding: 4px;
    background-color: #277580;
    border-color: azure;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 15px;
    /* height: 35px; */
}
.shapefileButtton,.jsonExpButton{
   
    padding: 4px;
    background-color: #4d774b;
    border-color: azure;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    /* height: 35px; */
}

